body {
    background-color: #FEFCF3;
    text-align: center;
}

h1 {
    color: #2E4F4F;
    font-weight: bold;
    margin-top: 100px;
    font-size: 5vw;
    text-decoration: underline;
    text-shadow: 5px 5px 5px #CBE4DE;
}

img {
    border-radius: 5%;
    box-shadow: 5px 5px 5px gray;
    margin-top: 50px;
    position: relative;
    width: 50%;
}

h2 {
    color: #FFED00;
    font-weight: bold;
    position: absolute;
    margin-top: 380px;
    margin-left: 480px;
    text-decoration: underline;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 100px;
        font-size: 70%;
    }
    h2 {
        font-size: 70%;
        margin-top: 100px;
        margin-left: 100px;
        z-index: 1;
    }
}