* {
    margin: 0;
}

body {
 text-align: center;
}

h1 {
    color: #FFED00;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 8vw;
    text-decoration: underline;
    text-shadow: 5px 5px 5px black;
    position: absolute;
}

img {
    max-width: 100%;
}
